*, *:before, *:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

q, blockquote {
  quotes: none;
}

q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

a img {
  border: none;
}

article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary {
  display: block;
}

button, input {
  line-height: normal;
}

button, input, select, textarea {
  font-size: 100%;
  margin: 0;
  vertical-align: baseline;
  *vertical-align: middle;
}

button, input[type="button"], input[type="reset"], input[type="submit"] {
  cursor: pointer;
  *overflow: visible;
}

button::-moz-focus-inner, input::-moz-focus-inner {
  border: 0;
  padding: 0;
}

textarea {
  overflow: auto;
  vertical-align: top;
  resize: vertical;
}

.home_flowhome-logo, .home_video-link, .navigator_navigation a, .one-place_connects {
  text-transform: uppercase;
  letter-spacing: 1px;
}

.row, .row__colspaced {
  *zoom: 1;
}
.row:after, .row__colspaced:after {
  content: "";
  display: table;
  clear: both;
}

.easy {
  position: relative;
  overflow: hidden;
  border-top: 20px solid #f2f2f2;
  box-shadow: inset 0 2px 5px 0 rgba(0, 0, 0, 0.1);
  background-image: url('data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz4gPHN2ZyB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PGRlZnM+PGxpbmVhckdyYWRpZW50IGlkPSJncmFkIiBncmFkaWVudFVuaXRzPSJvYmplY3RCb3VuZGluZ0JveCIgeDE9IjAuMCIgeTE9IjAuMCIgeDI9IjEuMCIgeTI9IjEuMCI+PHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2I3YzViZCIvPjxzdG9wIG9mZnNldD0iMTAwJSIgc3RvcC1jb2xvcj0iIzk2YmFjNyIvPjwvbGluZWFyR3JhZGllbnQ+PC9kZWZzPjxyZWN0IHg9IjAiIHk9IjAiIHdpZHRoPSIxMDAlIiBoZWlnaHQ9IjEwMCUiIGZpbGw9InVybCgjZ3JhZCkiIC8+PC9zdmc+IA==');
  background-size: 100%;
  background-image: -webkit-gradient(linear, 0% 0%, 100% 100%, color-stop(0%, #b7c5bd), color-stop(100%, #96bac7));
  background-image: -moz-linear-gradient(top, #b7c5bd, #96bac7);
  background-image: -webkit-linear-gradient(top, #b7c5bd, #96bac7);
  background-image: linear-gradient(to bottom right, #b7c5bd, #96bac7);
}
.easy .navigator_wrapper h2 {
  color: white;
}
.lt-ie9 .easy {
  height: 900px;
}
@media screen and (min-width: 768px) {
  .easy {
    height: 900px;
  }
}
.lt-ie9 .easy {
  -moz-background-size: cover;
  -o-background-size: cover;
  -webkit-background-size: cover;
  background-size: cover;
}
@media screen and (min-width: 1440px) {
  .easy {
    -moz-background-size: cover;
    -o-background-size: cover;
    -webkit-background-size: cover;
    background-size: cover;
  }
}

.easy_content {
  color: white;
  text-align: center;
  padding-top: 30.25em;
  padding-bottom: 5.5em;
  padding-left: 20px;
  padding-right: 20px;
  max-width: 500px;
  margin: 0 auto;
}
.lt-ie9 .easy_content {
  padding-top: 35.75em;
  padding-bottom: 0em;
  padding-left: 0;
  padding-right: 0;
  max-width: 700px;
}
@media screen and (min-width: 768px) {
  .easy_content {
    padding-top: 35.75em;
    padding-bottom: 0em;
    padding-left: 0;
    padding-right: 0;
    max-width: 700px;
  }
}

.easy__images-container {
  position: absolute;
  top: 0;
  left: 50%;
  width: 768px;
  margin-left: -384px;
  height: 700px;
  z-index: 200;
}
.easy__images-container .easy__image {
  -moz-transition: all 500ms cubic-bezier(0.645, 0.045, 0.355, 1) 200ms;
  -o-transition: all 500ms cubic-bezier(0.645, 0.045, 0.355, 1) 200ms;
  -webkit-transition: all 500ms cubic-bezier(0.645, 0.045, 0.355, 1);
  -webkit-transition-delay: 200ms;
  transition: all 500ms cubic-bezier(0.645, 0.045, 0.355, 1) 200ms;
  -moz-transform: scale(0.9, 0.9);
  -ms-transform: scale(0.9, 0.9);
  -webkit-transform: scale(0.9, 0.9);
  transform: scale(0.9, 0.9);
  top: -25px;
  position: absolute;
}
.lt-ie9 .easy__images-container .easy__image {
  top: 0;
  -moz-transform: scale(1, 1);
  -ms-transform: scale(1, 1);
  -webkit-transform: scale(1, 1);
  transform: scale(1, 1);
}
@media screen and (min-width: 768px) {
  .easy__images-container .easy__image {
    top: 0;
    -moz-transform: scale(1, 1);
    -ms-transform: scale(1, 1);
    -webkit-transform: scale(1, 1);
    transform: scale(1, 1);
  }
}

.easy__image-1 {
  left: 196px;
  height: 476px;
  width: 376px;
  background: url("../img/easy-phone-1.png") no-repeat;
  -moz-background-size: 376px;
  -o-background-size: 376px;
  -webkit-background-size: 376px;
  background-size: 376px;
  z-index: 200;
}
.lt-ie9 .easy__image-1 {
  left: 60px;
}
@media screen and (min-width: 660px) {
  .easy__image-1 {
    left: 60px;
  }
}
.cssanimations .lt-ie9 .easy__image-1 {
  -moz-transform: translate(0, -470px);
  -ms-transform: translate(0, -470px);
  -webkit-transform: translate(0, -470px);
  transform: translate(0, -470px);
}
.cssanimations .easy__images-container--animate .lt-ie9 .easy__image-1 {
  -moz-transform: translate(0, 0);
  -ms-transform: translate(0, 0);
  -webkit-transform: translate(0, 0);
  transform: translate(0, 0);
  -moz-transition-delay: 500ms;
  -o-transition-delay: 500ms;
  -webkit-transition-delay: 500ms;
  transition-delay: 500ms;
}
@media screen and (min-width: 769px) {
  .cssanimations .easy__image-1 {
    -moz-transform: translate(0, -470px);
    -ms-transform: translate(0, -470px);
    -webkit-transform: translate(0, -470px);
    transform: translate(0, -470px);
  }
  .cssanimations .easy__images-container--animate .easy__image-1 {
    -moz-transform: translate(0, 0);
    -ms-transform: translate(0, 0);
    -webkit-transform: translate(0, 0);
    transform: translate(0, 0);
    -moz-transition-delay: 500ms;
    -o-transition-delay: 500ms;
    -webkit-transition-delay: 500ms;
    transition-delay: 500ms;
  }
}
.easy__image-1 img {
  position: relative;
  left: 50px;
  width: 285px;
}

.easy__image-2 {
  display: none;
  height: 534px;
  width: 374px;
  background: url("../img/easy-phone-2.png") no-repeat;
  -moz-background-size: 374px;
  -o-background-size: 374px;
  -webkit-background-size: 374px;
  background-size: 374px;
}
.lt-ie9 .easy__image-2 {
  display: block;
  right: 60px;
}
@media screen and (min-width: 660px) {
  .easy__image-2 {
    display: block;
    right: 60px;
  }
}
.cssanimations .lt-ie9 .easy__image-2 {
  -moz-transform: translate(0, -510px);
  -ms-transform: translate(0, -510px);
  -webkit-transform: translate(0, -510px);
  transform: translate(0, -510px);
}
.cssanimations .easy__images-container--animate .lt-ie9 .easy__image-2 {
  -moz-transform: translate(0, 0);
  -ms-transform: translate(0, 0);
  -webkit-transform: translate(0, 0);
  transform: translate(0, 0);
}
@media screen and (min-width: 769px) {
  .cssanimations .easy__image-2 {
    -moz-transform: translate(0, -510px);
    -ms-transform: translate(0, -510px);
    -webkit-transform: translate(0, -510px);
    transform: translate(0, -510px);
  }
  .cssanimations .easy__images-container--animate .easy__image-2 {
    -moz-transform: translate(0, 0);
    -ms-transform: translate(0, 0);
    -webkit-transform: translate(0, 0);
    transform: translate(0, 0);
  }
}
.easy__image-2 img {
  position: relative;
  left: 41px;
  width: 292px;
}

.fh-icon {
  display: inline-block;
  height: 27px;
  width: 27px;
  background: url("../img/google-play-icon.svg") no-repeat center center;
  -moz-background-size: 27px;
  -o-background-size: 27px;
  -webkit-background-size: 27px;
  background-size: 27px;
}
.no-svg .fh-icon {
  background-image: url("../img/google-play-icon.png");
}

.home {
  position: relative;
  background: url("../img/home-background-ipad.jpg") no-repeat top center;
  min-height: 1024px;
  overflow: hidden;
}
.lt-ie9 .home {
  background: url("../img/home-background.jpg") no-repeat top center;
  background-attachment: fixed;
  min-height: 900px;
}
@media screen and (min-width: 769px) {
  .home {
    background: url("../img/home-background.jpg") no-repeat top center;
    background-attachment: fixed;
    min-height: 900px;
  }
}
.lt-ie9 .home {
  -moz-background-size: cover;
  -o-background-size: cover;
  -webkit-background-size: cover;
  background-size: cover;
}
@media screen and (min-width: 1440px) {
  .home {
    -moz-background-size: cover;
    -o-background-size: cover;
    -webkit-background-size: cover;
    background-size: cover;
  }
}
.home:before {
  content: "";
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: rgba(0, 0, 0, 0.2);
  z-index: 1;
  pointer-events: none;
}

.home_content {
  position: relative;
  margin: 0 auto;
  z-index: 200;
  margin-top: 9.625em;
  padding: 0 20px;
  text-align: center;
}
.lt-ie9 .home_content {
  margin-top: 13.75em;
  text-align: left;
}
@media screen and (min-width: 768px) {
  .home_content {
    margin-top: 13.75em;
    text-align: left;
  }
}
.lt-ie9 .home_content {
  padding-left: 30px;
  padding-right: 0;
}
@media screen and (min-width: 769px) {
  .home_content {
    padding-left: 30px;
    padding-right: 0;
  }
}
.lt-ie9 .home_content {
  padding-left: 0;
  width: 900px;
}
@media screen and (min-width: 980px) {
  .home_content {
    padding-left: 0;
    width: 900px;
  }
}

.home_flowhome-logo {
  position: relative;
  color: white;
  font-weight: 700;
  height: 100px;
  width: 100%;
  padding-top: 70px;
  background: url("../img/fh.svg") no-repeat top center;
  font-size: 0.875em;
  line-height: 1.5714286em;
  letter-spacing: 2px !important;
}
.lt-ie9 .home_flowhome-logo {
  height: 137px;
  width: 98px;
  text-align: left;
}
@media screen and (min-width: 768px) {
  .home_flowhome-logo {
    height: 137px;
    width: 98px;
    text-align: left;
  }
}
.no-svg .home_flowhome-logo {
  background-image: url("../img/fh.png");
}
.home_flowhome-logo:after {
  display: none;
  content: "-";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  border-top: 2px solid #2CECDC;
  overflow: hidden;
  height: 0;
}
.lt-ie9 .home_flowhome-logo:after {
  display: block;
}
@media screen and (min-width: 768px) {
  .home_flowhome-logo:after {
    display: block;
  }
}

.home_subtitle {
  margin: 0 auto;
  margin-top: 0.275em;
  font-size: 2.1875em;
  line-height: 1.1314286em;
  color: white;
  -webkit-font-smoothing: antialiased;
  font-weight: 200;
  max-width: 400px;
}
.lt-ie9 .home_subtitle {
  font-size: 2.8125em;
  line-height: 1.1733333em;
}
@media screen and (min-width: 422px) {
  .home_subtitle {
    font-size: 2.8125em;
    line-height: 1.1733333em;
  }
}
.lt-ie9 .home_subtitle {
  margin-top: 0.825em;
  font-size: 3.75em;
  line-height: 1.1em;
  max-width: 500px;
  margin-left: 0;
  text-align: left;
}
@media screen and (min-width: 768px) {
  .home_subtitle {
    margin-top: 0.825em;
    font-size: 3.75em;
    line-height: 1.1em;
    max-width: 500px;
    margin-left: 0;
    text-align: left;
  }
}

.home_video-link {
  font-size: 0.9375em;
  line-height: 1.4666667em;
  margin-top: 1.375em;
  position: relative;
  display: inline-block;
  border-bottom: 1px dotted white;
  color: white;
  text-align: center;
}
.home_video-link:hover, .home_video-link:focus, .home_video-link:active {
  color: black;
}
.lt-ie9 .home_video-link {
  margin-top: 2.75em;
  display: inline-block;
  border-bottom: none;
  text-align: left;
}
@media screen and (min-width: 768px) {
  .home_video-link {
    margin-top: 2.75em;
    display: inline-block;
    border-bottom: none;
    text-align: left;
  }
}
.home_video-link:before {
  display: none;
  content: 'circle';
  height: 50px;
  width: 50px;
  margin-right: 1em;
  background: rgba(0, 0, 0, 0.8);
  border-radius: 50%;
  vertical-align: middle;
  overflow: hidden;
  text-indent: -9999px;
}
.home_video-link:after {
  display: none;
  content: 'arrow';
  position: absolute;
  top: 18px;
  left: 20px;
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 7.5px 0 7.5px 13px;
  border-color: transparent transparent transparent white;
  -webkit-transform: rotate(360deg);
  overflow: hidden;
}
.lt-ie9 .home_video-link:after, .lt-ie9 .home_video-link:before {
  display: inline-block;
}
@media screen and (min-width: 768px) {
  .home_video-link:after, .home_video-link:before {
    display: inline-block;
  }
}

@-moz-keyframes hand {
  100% {
    -moz-transform: rotate(1deg) translateY(10px);
    transform: rotate(1deg) translateY(10px);
  }
  0% {
    -moz-transform: translateY(0);
    transform: translateY(0);
  }
}
@-webkit-keyframes hand {
  100% {
    -webkit-transform: rotate(1deg) translateY(10px);
    transform: rotate(1deg) translateY(10px);
  }
  0% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
}
@keyframes hand {
  100% {
    -moz-transform: rotate(1deg) translateY(10px);
    -ms-transform: rotate(1deg) translateY(10px);
    -webkit-transform: rotate(1deg) translateY(10px);
    transform: rotate(1deg) translateY(10px);
  }
  0% {
    -moz-transform: translateY(0);
    -ms-transform: translateY(0);
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
}
.home__hand-container {
  position: absolute;
  bottom: -74px;
  left: 50%;
  height: 651px;
  width: 566px;
  margin: 0;
  margin-left: -160px;
  background: url("../img/phone-hand.png") no-repeat;
  z-index: 200;
}
.lt-ie9 .home__hand-container {
  -moz-animation: hand 4000ms ease-in-out infinite alternate;
  -webkit-animation: hand 4000ms ease-in-out infinite alternate;
  animation: hand 4000ms ease-in-out infinite alternate;
  -moz-transform: perspective(0) translate3d(0, 0, 0);
  -webkit-transform: perspective(0) translate3d(0, 0, 0);
  transform: perspective(0) translate3d(0, 0, 0);
  -moz-transition: all 500ms cubic-bezier(0.165, 0.84, 0.44, 1) 0s;
  -o-transition: all 500ms cubic-bezier(0.165, 0.84, 0.44, 1) 0s;
  -webkit-transition: all 500ms cubic-bezier(0.165, 0.84, 0.44, 1);
  -webkit-transition-delay: 0s;
  transition: all 500ms cubic-bezier(0.165, 0.84, 0.44, 1) 0s;
  opacity: 0;
  bottom: -650px;
  left: 60%;
  margin-left: 0;
}
.lt-ie9 .home__hand-container.show {
  opacity: 1;
  bottom: -74px;
}
.lt-ie9 .lt-ie9 .home__hand-container.show {
  bottom: -20px;
}
@media screen and (min-width: 900px) {
  .lt-ie9 .home__hand-container.show {
    bottom: -20px;
  }
}
@media screen and (min-width: 768px) {
  .home__hand-container {
    -moz-animation: hand 4000ms ease-in-out infinite alternate;
    -webkit-animation: hand 4000ms ease-in-out infinite alternate;
    animation: hand 4000ms ease-in-out infinite alternate;
    -moz-transform: perspective(0) translate3d(0, 0, 0);
    -webkit-transform: perspective(0) translate3d(0, 0, 0);
    transform: perspective(0) translate3d(0, 0, 0);
    -moz-transition: all 500ms cubic-bezier(0.165, 0.84, 0.44, 1) 0s;
    -o-transition: all 500ms cubic-bezier(0.165, 0.84, 0.44, 1) 0s;
    -webkit-transition: all 500ms cubic-bezier(0.165, 0.84, 0.44, 1);
    -webkit-transition-delay: 0s;
    transition: all 500ms cubic-bezier(0.165, 0.84, 0.44, 1) 0s;
    opacity: 0;
    bottom: -650px;
    left: 60%;
    margin-left: 0;
  }
  .home__hand-container.show {
    opacity: 1;
    bottom: -74px;
  }
  .lt-ie9 .home__hand-container.show {
    bottom: -20px;
  }
}
@media screen and (min-width: 768px) and (min-width: 900px) {
  .home__hand-container.show {
    bottom: -20px;
  }
}

.lt-ie9 .home__hand-container {
  left: 53%;
}
@media screen and (min-width: 945px) {
  .home__hand-container {
    left: 53%;
  }
}
.no-svg .home__hand-container {
  background-image: url("../img/phone-hand.png");
}

.home__screenshot {
  position: absolute;
  top: 62px;
  left: 61px;
  width: 208.5px;
}

@-moz-keyframes arrow {
  100% {
    -moz-transform: scale(0.95, 0.95);
    transform: scale(0.95, 0.95);
  }
}
@-webkit-keyframes arrow {
  100% {
    -webkit-transform: scale(0.95, 0.95);
    transform: scale(0.95, 0.95);
  }
}
@keyframes arrow {
  100% {
    -moz-transform: scale(0.95, 0.95);
    -ms-transform: scale(0.95, 0.95);
    -webkit-transform: scale(0.95, 0.95);
    transform: scale(0.95, 0.95);
  }
}
.home_arrow-button, .home_arrow-button:after {
  position: absolute;
  bottom: 1.375em;
  left: 50%;
  display: block;
  height: 85px;
  width: 85px;
  margin-left: -35px;
  border: 1px solid rgba(255, 255, 255, 0.5);
  border-radius: 50%;
  background: url("../img/arrow.svg") no-repeat center center;
  text-indent: -9999px;
  overflow: hidden;
  z-index: 300;
  -moz-animation: arrow 300ms ease-in-out infinite alternate;
  -webkit-animation: arrow 300ms ease-in-out infinite alternate;
  animation: arrow 300ms ease-in-out infinite alternate;
  -moz-transition: background-color 300ms ease-in 0s;
  -o-transition: background-color 300ms ease-in 0s;
  -webkit-transition: background-color 300ms ease-in;
  -webkit-transition-delay: 0s;
  transition: background-color 300ms ease-in 0s;
}
.home_arrow-button:hover, .home_arrow-button:hover:after, .home_arrow-button:focus, .home_arrow-button:focus:after, .home_arrow-button:active, .home_arrow-button:active:after {
  background-color: rgba(255, 255, 255, 0.1);
}
.home_arrow-button:active, .home_arrow-button:active:after {
  background-color: rgba(255, 255, 255, 0.2);
  -moz-transition: background-color 0s ease-in;
  -o-transition: background-color 0s ease-in;
  -webkit-transition: background-color 0s ease-in;
  transition: background-color 0s ease-in;
}
.no-svg .home_arrow-button, .no-svg .home_arrow-button:after {
  background-image: url("../img/arrow.png");
}
.home_arrow-button:after {
  content: "circle";
  background-image: none;
  top: 6px;
  left: 50%;
  border: 2px solid white;
  height: 70px;
  width: 70px;
}

.producthunt {
  margin-top: 0em;
  padding-top: 0.55em;
  padding-bottom: 0.55em;
  margin-bottom: 0em;
  position: absolute;
  top: 0;
  width: 100%;
  z-index: 1000;
  background: rgba(19, 210, 194, 0.9);
  color: white;
  text-align: center;
  text-shadow: 0 1px 0 rgba(0, 0, 0, 0.2);
  display: none;
}
.producthunt b {
  font-size: 0.75em;
  line-height: 1.4666667em;
  display: inline-block;
  margin-left: 2px;
  padding: 1px 5px;
  border-radius: 5px;
  border: 1px solid white;
}
.lt-ie9 .producthunt .phone-hide {
  display: none;
}
@media screen and (max-width: 379px) {
  .producthunt .phone-hide {
    display: none;
  }
}

@-moz-keyframes pumpit {
  50% {
    -moz-transform: scale(1.2, 1.2);
    transform: scale(1.2, 1.2);
  }
  100% {
    -moz-transform: scale(1, 1);
    transform: scale(1, 1);
  }
}
@-webkit-keyframes pumpit {
  50% {
    -webkit-transform: scale(1.2, 1.2);
    transform: scale(1.2, 1.2);
  }
  100% {
    -webkit-transform: scale(1, 1);
    transform: scale(1, 1);
  }
}
@keyframes pumpit {
  50% {
    -moz-transform: scale(1.2, 1.2);
    -ms-transform: scale(1.2, 1.2);
    -webkit-transform: scale(1.2, 1.2);
    transform: scale(1.2, 1.2);
  }
  100% {
    -moz-transform: scale(1, 1);
    -ms-transform: scale(1, 1);
    -webkit-transform: scale(1, 1);
    transform: scale(1, 1);
  }
}
.navigator_dots {
  display: none;
  position: fixed;
  height: 100px;
  top: 50%;
  right: 50px;
  margin-top: -50px;
  z-index: 500;
}
.lt-ie9 .navigator_dots {
  display: block;
}
@media screen and (min-width: 769px) {
  .navigator_dots {
    display: block;
  }
}
.navigator_dots a {
  display: block;
  height: 12px;
  width: 12px;
  border-radius: 50%;
  border: 3px solid rgba(220, 220, 220, 0.8);
  overflow: hidden;
  text-indent: -9999px;
}
.navigator_dots li:not(:first-child) {
  margin-top: 1.1em;
}
.navigator_dots .active a {
  border: none;
  background: #dcdcdc;
}

.navigator_navigation {
  position: absolute;
  padding: 0 20px;
  top: 0;
  width: 100%;
  z-index: 500;
  padding-bottom: 1.65em;
  padding-top: 1.65em;
  -moz-transition: padding 250ms ease-in-out, background 250ms ease-in-out;
  -o-transition: padding 250ms ease-in-out, background 250ms ease-in-out;
  -webkit-transition: padding 250ms ease-in-out, background 250ms ease-in-out;
  transition: padding 250ms ease-in-out, background 250ms ease-in-out;
}
.lt-ie9 .navigator_navigation {
  padding: 0 50px;
  padding-bottom: 1.65em;
  padding-top: 1.65em;
}
@media screen and (min-width: 769px) {
  .navigator_navigation {
    padding: 0 50px;
    padding-bottom: 1.65em;
    padding-top: 1.65em;
  }
}
.navigator_navigation.navigator_navigation--with-hunted {
  top: 30px;
}
.navigator_navigation li {
  display: inline-block;
  margin-left: 20px;
}
.navigator_navigation li:first-child {
  margin-left: 0;
}
.navigator_navigation a {
  color: white;
}
.navigator_navigation a:hover, .navigator_navigation a:focus, .navigator_navigation a:active {
  color: black;
  border-color: black;
}
.navigator_navigation .active a {
  font-weight: 700;
}

.navigator_navigation--floating.navigator_navigation--with-hunted {
  top: 0;
}
.lt-ie9 .navigator_navigation--floating {
  position: fixed;
  background: rgba(255, 255, 255, 0.9);
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.3);
  padding-top: 0;
  padding-bottom: 0;
}
.lt-ie9 .navigator_navigation--floating a {
  color: #9db3bf;
}
.lt-ie9 .navigator_navigation--floating a:hover, .lt-ie9 .navigator_navigation--floating a:focus, .lt-ie9 .navigator_navigation--floating a:active {
  color: #51D7CC;
  border-color: #51D7CC;
}
.lt-ie9 .navigator_navigation--floating .active a {
  color: #249e94;
}
@media screen and (min-width: 769px) {
  .navigator_navigation--floating {
    position: fixed;
    background: rgba(255, 255, 255, 0.9);
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.3);
    padding-top: 0;
    padding-bottom: 0;
  }
  .navigator_navigation--floating a {
    color: #9db3bf;
  }
  .navigator_navigation--floating a:hover, .navigator_navigation--floating a:focus, .navigator_navigation--floating a:active {
    color: #51D7CC;
    border-color: #51D7CC;
  }
  .navigator_navigation--floating .active a {
    color: #249e94;
  }
}

.navigator_container {
  display: inline-block;
}

.navigator_container--right-aligned {
  position: relative;
  top: 14px;
  float: right;
}
.navigator_container--right-aligned li:last-child {
  display: none;
}
.lt-ie9 .navigator_container--right-aligned li:last-child {
  display: inline-block;
}
@media screen and (min-width: 380px) {
  .navigator_container--right-aligned li:last-child {
    display: inline-block;
  }
}

.navigator_container--left-aligned {
  float: left;
}
.navigator_container--left-aligned li:not(:first-child) {
  display: none;
}
.lt-ie9 .navigator_container--left-aligned li:not(:first-child) {
  display: inline-block;
}
@media screen and (min-width: 720px) {
  .navigator_container--left-aligned li:not(:first-child) {
    display: inline-block;
  }
}

.navigator_home, .navigator_twitter {
  display: inline-block;
  height: 72px;
  width: 72px;
  background: #2C2D2E url("../img/fh-small.svg") no-repeat 0 0;
  border-radius: 50%;
  vertical-align: middle;
  overflow: hidden;
  text-indent: -9999px;
  -moz-transform: scale(0.8) translate(-10px, -5px);
  -ms-transform: scale(0.8) translate(-10px, -5px);
  -webkit-transform: scale(0.8) translate(-10px, -5px);
  transform: scale(0.8) translate(-10px, -5px);
  -moz-transition: all 200ms ease-in-out 0s;
  -o-transition: all 200ms ease-in-out 0s;
  -webkit-transition: all 200ms ease-in-out;
  -webkit-transition-delay: 0s;
  transition: all 200ms ease-in-out 0s;
}
.navigator_home:hover, .navigator_twitter:hover, .navigator_home:focus, .navigator_twitter:focus, .navigator_home:active, .navigator_twitter:active {
  background-color: white;
  background-position-x: -72px;
}
.lt-ie9 .navigator_home, .lt-ie9 .navigator_twitter {
  -moz-transform: scale(1) translate(0, 0);
  -ms-transform: scale(1) translate(0, 0);
  -webkit-transform: scale(1) translate(0, 0);
  transform: scale(1) translate(0, 0);
}
@media screen and (min-width: 768px) {
  .navigator_home, .navigator_twitter {
    -moz-transform: scale(1) translate(0, 0);
    -ms-transform: scale(1) translate(0, 0);
    -webkit-transform: scale(1) translate(0, 0);
    transform: scale(1) translate(0, 0);
  }
}
.no-svg .navigator_home, .no-svg .navigator_twitter {
  background-image: url("../img/fh-small.png");
}
.lt-ie9 .navigator_navigation--floating .navigator_home, .lt-ie9 .navigator_navigation--floating .navigator_twitter {
  background-color: transparent;
  background-position-x: -72px;
}
@media screen and (min-width: 769px) {
  .navigator_navigation--floating .navigator_home, .navigator_navigation--floating .navigator_twitter {
    background-color: transparent;
    background-position-x: -72px;
  }
}
.cssanimations .lt-ie9 .navigator_home, .cssanimations .lt-ie9 .navigator_twitter {
  -moz-transform: scale(0.01, 0.01);
  -ms-transform: scale(0.01, 0.01);
  -webkit-transform: scale(0.01, 0.01);
  transform: scale(0.01, 0.01);
}
.cssanimations .lt-ie9 .navigator_home.pumpit, .cssanimations .lt-ie9 .pumpit.navigator_twitter {
  -moz-animation: pumpit 200ms ease-out 300ms forwards;
  -webkit-animation: pumpit 200ms ease-out 300ms forwards;
  animation: pumpit 200ms ease-out 300ms forwards;
}
@media screen and (min-width: 768px) {
  .cssanimations .navigator_home, .cssanimations .navigator_twitter {
    -moz-transform: scale(0.01, 0.01);
    -ms-transform: scale(0.01, 0.01);
    -webkit-transform: scale(0.01, 0.01);
    transform: scale(0.01, 0.01);
  }
  .cssanimations .navigator_home.pumpit, .cssanimations .pumpit.navigator_twitter {
    -moz-animation: pumpit 200ms ease-out 300ms forwards;
    -webkit-animation: pumpit 200ms ease-out 300ms forwards;
    animation: pumpit 200ms ease-out 300ms forwards;
  }
}

.navigator_download {
  display: block;
  border: 1px solid;
  border-radius: 20px;
  padding: 10px;
  padding-bottom: 0.55em;
  padding-top: 0.55em;
}

.navigator_twitter {
  height: 35px;
  width: 35px;
  background: white url("../img/twitter-icon.svg") no-repeat center center;
  -moz-transform: scale(1, 1) !important;
  -ms-transform: scale(1, 1) !important;
  -webkit-transform: scale(1, 1) !important;
  transform: scale(1, 1) !important;
}
.navigator_twitter:hover, .navigator_twitter:focus, .navigator_twitter:active {
  background-color: black;
  background-position-x: center;
}
.lt-ie9 .navigator_navigation--floating .navigator_twitter {
  background: transparent url("../img/twitter-icon.svg") no-repeat center center;
}
.lt-ie9 .navigator_navigation--floating .navigator_twitter:hover, .lt-ie9 .navigator_navigation--floating .navigator_twitter:focus, .lt-ie9 .navigator_navigation--floating .navigator_twitter:active {
  background-color: rgba(81, 215, 204, 0.2);
}
@media screen and (min-width: 769px) {
  .navigator_navigation--floating .navigator_twitter {
    background: transparent url("../img/twitter-icon.svg") no-repeat center center;
  }
  .navigator_navigation--floating .navigator_twitter:hover, .navigator_navigation--floating .navigator_twitter:focus, .navigator_navigation--floating .navigator_twitter:active {
    background-color: rgba(81, 215, 204, 0.2);
  }
}
.no-svg .navigator_twitter {
  background-image: url("../img/twitter-icon.png");
}

.navigator_wrapper {
  position: relative;
  margin: 0 auto;
  overflow: hidden;
}
.navigator_wrapper h2 {
  color: #1F1E1E;
}
.lt-ie9 .navigator_wrapper {
  overflow: visible;
  width: 900px;
}
@media screen and (min-width: 900px) {
  .navigator_wrapper {
    overflow: visible;
    width: 900px;
  }
}

.navigator-section {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

@-moz-keyframes one-place-phone-animation {
  100% {
    -moz-transform: translateY(0);
    transform: translateY(0);
  }
}
@-webkit-keyframes one-place-phone-animation {
  100% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
}
@keyframes one-place-phone-animation {
  100% {
    -moz-transform: translateY(0);
    -ms-transform: translateY(0);
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
}
.one-place {
  background: white;
}
.lt-ie9 .one-place {
  height: 900px;
}
.lt-ie9 .one-place .navigator_wrapper {
  min-height: 900px;
}
@media screen and (min-width: 769px) {
  .one-place {
    height: 900px;
  }
  .one-place .navigator_wrapper {
    min-height: 900px;
  }
}

.one-place_content {
  position: relative;
  text-align: right;
  margin: 0 auto;
  padding: 0 20px;
  padding-top: 6.875em;
  padding-bottom: 33em;
}
.lt-ie9 .one-place_content {
  width: 350px;
  padding-left: 0;
  padding-right: 0;
}
@media screen and (min-width: 350px) {
  .one-place_content {
    width: 350px;
    padding-left: 0;
    padding-right: 0;
  }
}
.lt-ie9 .one-place_content {
  padding-bottom: 0em;
}
@media screen and (min-width: 769px) {
  .one-place_content {
    padding-bottom: 0em;
  }
}
.lt-ie9 .one-place_content {
  padding-top: 8.25em;
  left: 200px;
  text-align: left;
}
@media screen and (min-width: 900px) {
  .one-place_content {
    padding-top: 8.25em;
    left: 200px;
    text-align: left;
  }
}
.lt-ie9 .one-place_content {
  padding-top: 13.75em;
  left: 250px;
}
@media screen and (min-width: 1000px) {
  .one-place_content {
    padding-top: 13.75em;
    left: 250px;
  }
}

.one-place_connects {
  padding-top: 0.55em;
  padding-bottom: 2.75em;
  color: #90A9AE;
  background: url("../img/share.svg") no-repeat right bottom;
  font-weight: 700;
}
.lt-ie9 .one-place_connects {
  background-position-x: left;
}
@media screen and (min-width: 900px) {
  .one-place_connects {
    background-position-x: left;
  }
}
.is-typeset .one-place_connects {
  font-size: 0.875em;
  line-height: 1.5714286em;
}

.is-typeset .one-place__coming-soon {
  font-size: 0.875em;
  line-height: 1.5714286em;
  margin-top: 1.1em;
}

.one-place_main-img-wrapper {
  position: absolute;
  width: 100%;
  bottom: -58px;
  left: -80px;
}
.lt-ie9 .one-place_main-img-wrapper {
  width: auto;
  -moz-transform: scale(0.8, 0.8);
  -ms-transform: scale(0.8, 0.8);
  -webkit-transform: scale(0.8, 0.8);
  transform: scale(0.8, 0.8);
  left: -25px;
}
@media screen and (min-width: 768px) {
  .one-place_main-img-wrapper {
    width: auto;
    -moz-transform: scale(0.8, 0.8);
    -ms-transform: scale(0.8, 0.8);
    -webkit-transform: scale(0.8, 0.8);
    transform: scale(0.8, 0.8);
    left: -25px;
  }
}
.lt-ie9 .one-place_main-img-wrapper {
  bottom: -12px;
  left: -80px;
}
.cssanimations .lt-ie9 .one-place_main-img-wrapper {
  -moz-transform: translateY(550px);
  -ms-transform: translateY(550px);
  -webkit-transform: translateY(550px);
  transform: translateY(550px);
}
.cssanimations .lt-ie9 .one-place_main-img-wrapper.one-place_main-img-wrapper--animated:after {
  opacity: .8;
}
.cssanimations .lt-ie9 .one-place_main-img-wrapper.one-place_main-img-wrapper--animated .one-place_secondary-img {
  opacity: 1;
  -moz-transform: translate(0, 0);
  -webkit-transform: translate(0, 0);
  transform: translate(0, 0);
}
.one-place--animated .lt-ie9 .one-place_main-img-wrapper {
  -moz-animation: one-place-phone-animation 500ms ease-in-out forwards;
  -webkit-animation: one-place-phone-animation 500ms ease-in-out forwards;
  animation: one-place-phone-animation 500ms ease-in-out forwards;
}
@media screen and (min-width: 769px) {
  .one-place_main-img-wrapper {
    bottom: -12px;
    left: -80px;
  }
  .cssanimations .one-place_main-img-wrapper {
    -moz-transform: translateY(550px);
    -ms-transform: translateY(550px);
    -webkit-transform: translateY(550px);
    transform: translateY(550px);
  }
  .cssanimations .one-place_main-img-wrapper.one-place_main-img-wrapper--animated:after {
    opacity: .8;
  }
  .cssanimations .one-place_main-img-wrapper.one-place_main-img-wrapper--animated .one-place_secondary-img {
    opacity: 1;
    -moz-transform: translate(0, 0);
    -webkit-transform: translate(0, 0);
    transform: translate(0, 0);
  }
  .one-place--animated .one-place_main-img-wrapper {
    -moz-animation: one-place-phone-animation 500ms ease-in-out forwards;
    -webkit-animation: one-place-phone-animation 500ms ease-in-out forwards;
    animation: one-place-phone-animation 500ms ease-in-out forwards;
  }
}
.one-place_main-img-wrapper:after {
  -moz-transition: opacity 200ms;
  -o-transition: opacity 200ms;
  -webkit-transition: opacity 200ms;
  transition: opacity 200ms;
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: url("../img/one-place-dark.png") no-repeat 61px 40px;
  z-index: 180;
  opacity: 0;
}

.one-place_secondary-img {
  position: absolute;
  bottom: -6px;
  left: 61px;
  z-index: 200;
  display: none;
  -moz-transition: all 500ms cubic-bezier(0.645, 0.045, 0.355, 1) 200ms;
  -o-transition: all 500ms cubic-bezier(0.645, 0.045, 0.355, 1) 200ms;
  -webkit-transition: all 500ms cubic-bezier(0.645, 0.045, 0.355, 1);
  -webkit-transition-delay: 200ms;
  transition: all 500ms cubic-bezier(0.645, 0.045, 0.355, 1) 200ms;
}
.cssanimations .lt-ie9 .one-place_secondary-img {
  display: block;
  -moz-transform: translate(250px, 505px);
  -webkit-transform: translate(250px, 505px);
  transform: translate(250px, 505px);
  opacity: 0;
}
@media screen and (min-width: 768px) {
  .cssanimations .one-place_secondary-img {
    display: block;
    -moz-transform: translate(250px, 505px);
    -webkit-transform: translate(250px, 505px);
    transform: translate(250px, 505px);
    opacity: 0;
  }
}

.personalize {
  background: #2A2E2F;
}
.lt-ie9 .personalize {
  height: 900px;
}
@media screen and (min-width: 768px) {
  .personalize {
    height: 900px;
  }
}
.personalize .navigator_wrapper {
  position: relative;
  overflow: hidden;
}
.lt-ie9 .personalize .navigator_wrapper {
  height: 900px;
}
@media screen and (min-width: 768px) {
  .personalize .navigator_wrapper {
    height: 900px;
  }
}

.personalize_content {
  padding: 0 20px;
  margin: 0 auto;
  padding-top: 33em;
  padding-bottom: 1.375em;
  text-align: center;
  width: 300px;
}
.lt-ie9 .personalize_content {
  width: 400px;
}
@media screen and (min-width: 520px) {
  .personalize_content {
    width: 400px;
  }
}
.lt-ie9 .personalize_content {
  position: relative;
  left: 70px;
  padding-top: 19.25em;
  padding-bottom: 0em;
  padding-left: 0;
  padding-right: 0;
  width: 300px;
  text-align: right;
  margin: 0;
}
@media screen and (min-width: 768px) {
  .personalize_content {
    position: relative;
    left: 70px;
    padding-top: 19.25em;
    padding-bottom: 0em;
    padding-left: 0;
    padding-right: 0;
    width: 300px;
    text-align: right;
    margin: 0;
  }
}
.lt-ie9 .personalize_content {
  left: 100px;
}
@media screen and (min-width: 890px) {
  .personalize_content {
    left: 100px;
  }
}
.personalize_content.is-typeset h2 {
  color: white;
}

.lt-ie9 .personalize__image-container {
  position: relative;
  top: 50px;
  -moz-transform: scale(0.8, 0.8);
  -ms-transform: scale(0.8, 0.8);
  -webkit-transform: scale(0.8, 0.8);
  transform: scale(0.8, 0.8);
  margin: 0 auto;
  width: 300px;
}
@media screen and (max-width: 767px) {
  .personalize__image-container {
    position: relative;
    top: 50px;
    -moz-transform: scale(0.8, 0.8);
    -ms-transform: scale(0.8, 0.8);
    -webkit-transform: scale(0.8, 0.8);
    transform: scale(0.8, 0.8);
    margin: 0 auto;
    width: 300px;
  }
}
.personalize__image-container img {
  position: absolute;
}

.personalize__screenshot {
  top: 20%;
  width: 305px;
  z-index: 10;
}
.lt-ie9 .personalize__screenshot {
  top: 10px;
  left: 2%;
}
@media screen and (max-width: 767px) {
  .personalize__screenshot {
    top: 10px;
    left: 2%;
  }
}
.lt-ie9 .personalize__screenshot {
  left: 56%;
}
@media screen and (min-width: 768px) {
  .personalize__screenshot {
    left: 56%;
  }
}
.lt-ie9 .personalize__screenshot {
  left: 50%;
}
@media screen and (min-width: 890px) {
  .personalize__screenshot {
    left: 50%;
  }
}

.personalize__outline-1, .personalize__outline-2 {
  top: 17%;
  z-index: 0;
  -moz-transition: all 500ms ease-in-out 0s;
  -o-transition: all 500ms ease-in-out 0s;
  -webkit-transition: all 500ms ease-in-out;
  -webkit-transition-delay: 0s;
  transition: all 500ms ease-in-out 0s;
}
.lt-ie9 .personalize__outline-1, .lt-ie9 .personalize__outline-2 {
  top: -14px;
  left: 12%;
}
@media screen and (max-width: 767px) {
  .personalize__outline-1, .personalize__outline-2 {
    top: -14px;
    left: 12%;
  }
}
.lt-ie9 .personalize__outline-1, .lt-ie9 .personalize__outline-2 {
  display: block;
  right: 9%;
}
@media screen and (min-width: 768px) {
  .personalize__outline-1, .personalize__outline-2 {
    display: block;
    right: 9%;
  }
}
.lt-ie9 .personalize__outline-1, .lt-ie9 .personalize__outline-2 {
  opacity: 0;
}
@media screen and (min-width: 769px) {
  .personalize__outline-1, .personalize__outline-2 {
    opacity: 0;
  }
}
.lt-ie9 .personalize__outline-1, .lt-ie9 .personalize__outline-2 {
  right: 17%;
}
@media screen and (min-width: 890px) {
  .personalize__outline-1, .personalize__outline-2 {
    right: 17%;
  }
}
.personalize__image-container--animated .personalize__outline-1, .personalize__image-container--animated .personalize__outline-2 {
  opacity: 1;
}

.personalize__outline-2 {
  top: 14%;
  -moz-transition-delay: 300ms;
  -o-transition-delay: 300ms;
  -webkit-transition-delay: 300ms;
  transition-delay: 300ms;
}
.lt-ie9 .personalize__outline-2 {
  top: -30px;
  left: 21%;
}
.personalize__image-container--animated .lt-ie9 .personalize__outline-2 {
  opacity: .5;
}
@media screen and (max-width: 767px) {
  .personalize__outline-2 {
    top: -30px;
    left: 21%;
  }
  .personalize__image-container--animated .personalize__outline-2 {
    opacity: .5;
  }
}
.lt-ie9 .personalize__outline-2 {
  right: 4%;
}
@media screen and (min-width: 768px) {
  .personalize__outline-2 {
    right: 4%;
  }
}
.personalize__image-container--animated .lt-ie9 .personalize__outline-2 {
  opacity: .5;
}
@media screen and (min-width: 769px) {
  .personalize__image-container--animated .personalize__outline-2 {
    opacity: .5;
  }
}
.lt-ie9 .personalize__outline-2 {
  right: 12%;
}
@media screen and (min-width: 890px) {
  .personalize__outline-2 {
    right: 12%;
  }
}

.fh-play-store-link {
  margin-top: 1.375em;
  display: inline-block;
  position: relative;
  background: #9EBDC5;
  color: white;
  font-size: .75em;
  line-height: 1.6;
  letter-spacing: 3px;
  text-decoration: none;
  text-transform: uppercase;
  padding: 1.4em;
  font-weight: bold;
  width: 258px;
  padding-left: 6em;
  padding-right: 3em;
  text-align: right;
}
.fh-play-store-link:focus, .fh-play-store-link:hover {
  background-color: #bed3d8;
  color: white;
}
.fh-play-store-link:active {
  box-shadow: inset 0 5px 0 0 rgba(0, 0, 0, 0.2);
  background-color: #8eb2bb;
}
.fh-play-store-link .coming-soon {
  display: block;
  font-size: 0.625em;
  line-height: 1.76em;
  font-weight: 400;
}

.fh-icon-play-store {
  position: absolute;
  left: 3em;
  height: 39px;
  width: 36px;
}

/*=======================================
=            Start Animation            =
=======================================*/
/**
*
* This is the start animation.
* Should only work for desktop
*
**/
@-moz-keyframes start-animation {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@-webkit-keyframes start-animation {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes start-animation {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
.cssanimations .lt-ie9 .start-animation.start-animation-init {
  opacity: 0;
}
.cssanimations .lt-ie9 .start-animation.start-animation-kick {
  -moz-animation: start-animation 500ms ease-in-out 1000ms forwards;
  -webkit-animation: start-animation 500ms ease-in-out 1000ms forwards;
  animation: start-animation 500ms ease-in-out 1000ms forwards;
}
@media screen and (min-width: 768px) {
  .cssanimations .start-animation.start-animation-init {
    opacity: 0;
  }
  .cssanimations .start-animation.start-animation-kick {
    -moz-animation: start-animation 500ms ease-in-out 1000ms forwards;
    -webkit-animation: start-animation 500ms ease-in-out 1000ms forwards;
    animation: start-animation 500ms ease-in-out 1000ms forwards;
  }
}

.navigator_container .start-animation.start-animation-kick, .navigator_container.start-animation.start-animation-kick {
  -moz-animation-delay: 1800ms;
  -webkit-animation-delay: 1800ms;
  animation-delay: 1800ms;
}

/* ::Base styles */
/* ------------------------------------------------------------ */
html {
  font-size: 100%;
}
@media screen and (max-width: 767px) {
  html {
    -webkit-text-size-adjust: 100%;
  }
}

body {
  background: white;
  color: #c6d0d3;
}

a {
  color: #BCCBD3;
  text-decoration: none;
}
a:hover, a:focus, a:active {
  color: #51D7CC;
}

p {
  font-weight: 300;
}

/* ::Import styles */
/* ------------------------------------------------------------ */
.home_flowhome-logo, .producthunt, body {
  font-family: 'Lato', 'helvetica', arial, sans-serif;
}

.home_subtitle, .as-heading__large, .is-typeset h2 {
  font-family: 'Source Sans Pro', 'helvetica', arial, sans-serif;
}

p, span, cite, ol, ul, pre, label, input, textarea {
  font-size: 0.9375em;
  line-height: 1.4666667em;
}

ul {
  list-style-type: none;
}

ol {
  list-style-type: none;
}

li {
  line-height: inherit;
}

strong, b {
  font-weight: 700;
}

em, i, q {
  font-style: italic;
}

label, legend, select {
  display: block;
}

input[type="search"]::-webkit-search-decoration,
input[type="search"]::-webkit-search-cancel-button {
  -webkit-appearance: none;
}

textarea {
  overflow: auto;
  vertical-align: top;
}

input[type="radio"],
input[type="checkbox"] {
  margin: 4px 0 0;
  margin-top: 1px \9;
  *margin-top: 0;
  line-height: normal;
  cursor: pointer;
}

input[type="file"],
input[type="image"],
input[type="submit"],
input[type="reset"],
input[type="button"],
input[type="radio"],
input[type="checkbox"] {
  width: auto;
}

select,
input[type="file"] {
  *margin-top: 4px;
  /* In IE7, the height of the select element cannot be changed by height, only font-size */
}

select:focus,
input[type="file"]:focus,
input[type="radio"]:focus,
input[type="checkbox"]:focus {
  outline: thin dotted #333;
  outline: 5px auto -webkit-focus-ring-color;
  outline-offset: -2px;
}

.home_flowhome-logo, .home_video-link, .navigator_navigation a, .one-place_connects {
  text-transform: uppercase;
  letter-spacing: 1px;
}

.row, .row__colspaced {
  *zoom: 1;
}
.row:after, .row__colspaced:after {
  content: "";
  display: table;
  clear: both;
}

.as-heading__headline, .is-typeset .headline {
  font-size: 2.625em;
  line-height: 1.152381em;
}

.as-heading__largest, .is-typeset h1 {
  font-size: 2em;
  line-height: 1.2375em;
}

.as-heading__large, .is-typeset h2 {
  font-size: 1.75em;
  line-height: 1.2571429em;
}

.as-heading__medium, .is-typeset h3 {
  font-size: 1.625em;
  line-height: 1.1846154em;
}

.as-heading__normal, .is-typeset h4 {
  font-size: 1.5em;
  line-height: 1.2833333em;
}

.as-heading__small, .is-typeset h5 {
  font-size: 1.25em;
  line-height: 1.32em;
}

.as-heading__smallest, .is-typeset h6 {
  font-size: 1.125em;
  line-height: 1.2222222em;
}

.as-blockquote, .as-blockquote--typeset, .is-typeset blockquote {
  font-size: 2em;
  line-height: 1.2375em;
  line-height: normal;
}
.as-blockquote p, .as-blockquote--typeset p, .is-typeset blockquote p {
  margin: 0;
  font-style: italic;
}

.as-para, .is-typeset p {
  font-size: 1.125em;
  line-height: 1.2222222em;
}

.as-heading__headline--typeset, .is-typeset .headline {
  margin: 0 0 0.3142857em 0;
}

.as-heading__largest--typeset, .is-typeset h1 {
  margin: 0 0 0.4125em 0;
}

.as-heading__large--typeset, .is-typeset h2 {
  margin: 0 0 0.4714286em 0;
}

.as-heading__medium--typeset, .is-typeset h3 {
  margin: 0 0 0.5076923em 0;
}

.as-heading__normal--typeset, .is-typeset h4 {
  margin: 0 0 0.55em 0;
}

.as-heading__small--typeset, .is-typeset h5 {
  margin: 0 0 0.66em 0;
}

.as-heading__smallest--typeset, .is-typeset h6 {
  margin: 0 0 0.7333333em 0;
}

.as-heading__large, .is-typeset h2 {
  font-size: 2.625em;
  line-height: 1.152381em;
}

.as-para, .is-typeset p {
  line-height: 1.65em;
}

.as-para--typeset, .is-typeset p {
  margin: 0 0 0.5866667em 0;
}

.as-list--typeset, .as-unordered-list--typeset, .as-ordered-list--typeset, .is-typeset ol, .is-typeset ul, .is-typeset li {
  margin: 0 0 0.5866667em 0;
}

.as-unordered-list--typeset, .as-ordered-list--typeset, .is-typeset ol, .is-typeset ul {
  margin-left: 1em;
  list-style-position: outside;
  list-style-type: disc;
}

.as-ordered-list--typeset, .is-typeset ol {
  list-style-position: outside;
  list-style-type: decimal;
}

.as-blockquote--typeset, .is-typeset blockquote {
  margin: 0.825em 0;
}

.home_flowhome-logo, .home_video-link, .navigator_navigation a, .one-place_connects {
  text-transform: uppercase;
  letter-spacing: 1px;
}

.row, .row__colspaced {
  *zoom: 1;
}
.row:after, .row__colspaced:after {
  content: "";
  display: table;
  clear: both;
}

*[class*="colspan"] {
  width: 100%;
  display: block;
}

*[class*="as-grid"] {
  float: left;
  display: inline;
  display: inline-block;
}

.lt-ie9 *[class*="with-gutter"] {
  padding-left: 3%;
}
@media screen and (min-width: 420px) {
  *[class*="with-gutter"] {
    padding-left: 3%;
  }
}

.row {
  position: relative;
  margin-left: auto;
  margin-right: auto;
  padding-left: 20px;
  padding-right: 20px;
}
@media screen and (min-width: 420px) {
  .row {
    min-width: 420px;
  }
  .row .colspan2-1 {
    width: 50%;
  }
  .row .colspan2-2 {
    width: 100%;
  }
  .row .push2-1 {
    margin-left: 50%;
  }
  .row .push2-2 {
    margin-left: 100%;
  }
  .row .pull2-1 {
    margin-right: 50%;
  }
  .row .pull2-2 {
    margin-right: 100%;
  }
  .row .push-disable2 {
    margin-left: 0;
  }
  .row .pull-disable2 {
    margin-right: 0;
  }
  .row .hide-at2 {
    display: none;
  }
  .row .block-show-at2 {
    display: block;
  }
  .row .inline-show-at2 {
    display: inline;
    display: inline-block;
  }
}
@media screen and (min-width: 600px) {
  .row {
    padding-left: 40px;
    padding-right: 40px;
    min-width: 600px;
  }
  .row .colspan6-1 {
    width: 16.6666667%;
  }
  .row .colspan6-2 {
    width: 33.3333333%;
  }
  .row .colspan6-3 {
    width: 50%;
  }
  .row .colspan6-4 {
    width: 66.6666667%;
  }
  .row .colspan6-5 {
    width: 83.3333333%;
  }
  .row .colspan6-6 {
    width: 100%;
  }
  .row .push6-1 {
    margin-left: 16.6666667%;
  }
  .row .push6-2 {
    margin-left: 33.3333333%;
  }
  .row .push6-3 {
    margin-left: 50%;
  }
  .row .push6-4 {
    margin-left: 66.6666667%;
  }
  .row .push6-5 {
    margin-left: 83.3333333%;
  }
  .row .push6-6 {
    margin-left: 100%;
  }
  .row .pull6-1 {
    margin-right: 16.6666667%;
  }
  .row .pull6-2 {
    margin-right: 33.3333333%;
  }
  .row .pull6-3 {
    margin-right: 50%;
  }
  .row .pull6-4 {
    margin-right: 66.6666667%;
  }
  .row .pull6-5 {
    margin-right: 83.3333333%;
  }
  .row .pull6-6 {
    margin-right: 100%;
  }
  .row .push-disable6 {
    margin-left: 0;
  }
  .row .pull-disable6 {
    margin-right: 0;
  }
  .row .hide-at6 {
    display: none;
  }
  .row .block-show-at6 {
    display: block;
  }
  .row .inline-show-at6 {
    display: inline;
    display: inline-block;
  }
}
@media screen and (min-width: 900px) {
  .row {
    min-width: 900px;
  }
  .row .colspan8-1 {
    width: 12.5%;
  }
  .row .colspan8-2 {
    width: 25%;
  }
  .row .colspan8-3 {
    width: 37.5%;
  }
  .row .colspan8-4 {
    width: 50%;
  }
  .row .colspan8-5 {
    width: 62.5%;
  }
  .row .colspan8-6 {
    width: 75%;
  }
  .row .colspan8-7 {
    width: 87.5%;
  }
  .row .colspan8-8 {
    width: 100%;
  }
  .row .push8-1 {
    margin-left: 12.5%;
  }
  .row .push8-2 {
    margin-left: 25%;
  }
  .row .push8-3 {
    margin-left: 37.5%;
  }
  .row .push8-4 {
    margin-left: 50%;
  }
  .row .push8-5 {
    margin-left: 62.5%;
  }
  .row .push8-6 {
    margin-left: 75%;
  }
  .row .push8-7 {
    margin-left: 87.5%;
  }
  .row .push8-8 {
    margin-left: 100%;
  }
  .row .pull8-1 {
    margin-right: 12.5%;
  }
  .row .pull8-2 {
    margin-right: 25%;
  }
  .row .pull8-3 {
    margin-right: 37.5%;
  }
  .row .pull8-4 {
    margin-right: 50%;
  }
  .row .pull8-5 {
    margin-right: 62.5%;
  }
  .row .pull8-6 {
    margin-right: 75%;
  }
  .row .pull8-7 {
    margin-right: 87.5%;
  }
  .row .pull8-8 {
    margin-right: 100%;
  }
  .row .push-disable8 {
    margin-left: 0;
  }
  .row .pull-disable8 {
    margin-right: 0;
  }
  .row .hide-at8 {
    display: none;
  }
  .row .block-show-at8 {
    display: block;
  }
  .row .inline-show-at8 {
    display: inline;
    display: inline-block;
  }
}
@media screen and (min-width: 1100px) {
  .row {
    min-width: 1100px;
  }
  .row .colspan12-1 {
    width: 8.3333333%;
  }
  .row .colspan12-2 {
    width: 16.6666667%;
  }
  .row .colspan12-3 {
    width: 25%;
  }
  .row .colspan12-4 {
    width: 33.3333333%;
  }
  .row .colspan12-5 {
    width: 41.6666667%;
  }
  .row .colspan12-6 {
    width: 50%;
  }
  .row .colspan12-7 {
    width: 58.3333333%;
  }
  .row .colspan12-8 {
    width: 66.6666667%;
  }
  .row .colspan12-9 {
    width: 75%;
  }
  .row .colspan12-10 {
    width: 83.3333333%;
  }
  .row .colspan12-11 {
    width: 91.6666667%;
  }
  .row .colspan12-12 {
    width: 100%;
  }
  .row .push12-1 {
    margin-left: 8.3333333%;
  }
  .row .push12-2 {
    margin-left: 16.6666667%;
  }
  .row .push12-3 {
    margin-left: 25%;
  }
  .row .push12-4 {
    margin-left: 33.3333333%;
  }
  .row .push12-5 {
    margin-left: 41.6666667%;
  }
  .row .push12-6 {
    margin-left: 50%;
  }
  .row .push12-7 {
    margin-left: 58.3333333%;
  }
  .row .push12-8 {
    margin-left: 66.6666667%;
  }
  .row .push12-9 {
    margin-left: 75%;
  }
  .row .push12-10 {
    margin-left: 83.3333333%;
  }
  .row .push12-11 {
    margin-left: 91.6666667%;
  }
  .row .push12-12 {
    margin-left: 100%;
  }
  .row .pull12-1 {
    margin-right: 8.3333333%;
  }
  .row .pull12-2 {
    margin-right: 16.6666667%;
  }
  .row .pull12-3 {
    margin-right: 25%;
  }
  .row .pull12-4 {
    margin-right: 33.3333333%;
  }
  .row .pull12-5 {
    margin-right: 41.6666667%;
  }
  .row .pull12-6 {
    margin-right: 50%;
  }
  .row .pull12-7 {
    margin-right: 58.3333333%;
  }
  .row .pull12-8 {
    margin-right: 66.6666667%;
  }
  .row .pull12-9 {
    margin-right: 75%;
  }
  .row .pull12-10 {
    margin-right: 83.3333333%;
  }
  .row .pull12-11 {
    margin-right: 91.6666667%;
  }
  .row .pull12-12 {
    margin-right: 100%;
  }
  .row .push-disable12 {
    margin-left: 0;
  }
  .row .pull-disable12 {
    margin-right: 0;
  }
  .row .hide-at12 {
    display: none;
  }
  .row .block-show-at12 {
    display: block;
  }
  .row .inline-show-at12 {
    display: inline;
    display: inline-block;
  }
}
@media screen and (min-width: 1300px) {
  .row {
    width: 1300px;
  }
}
.lt-ie9 .row {
  width: 980px;
}
.lt-ie9 .row .colspan12-1 {
  width: 8.3333333%;
}
.lt-ie9 .row .colspan12-2 {
  width: 16.6666667%;
}
.lt-ie9 .row .colspan12-3 {
  width: 25%;
}
.lt-ie9 .row .colspan12-4 {
  width: 33.3333333%;
}
.lt-ie9 .row .colspan12-5 {
  width: 41.6666667%;
}
.lt-ie9 .row .colspan12-6 {
  width: 50%;
}
.lt-ie9 .row .colspan12-7 {
  width: 58.3333333%;
}
.lt-ie9 .row .colspan12-8 {
  width: 66.6666667%;
}
.lt-ie9 .row .colspan12-9 {
  width: 75%;
}
.lt-ie9 .row .colspan12-10 {
  width: 83.3333333%;
}
.lt-ie9 .row .colspan12-11 {
  width: 91.6666667%;
}
.lt-ie9 .row .colspan12-12 {
  width: 100%;
}
.lt-ie9 .row .push12-1 {
  margin-left: 8.3333333%;
}
.lt-ie9 .row .push12-2 {
  margin-left: 16.6666667%;
}
.lt-ie9 .row .push12-3 {
  margin-left: 25%;
}
.lt-ie9 .row .push12-4 {
  margin-left: 33.3333333%;
}
.lt-ie9 .row .push12-5 {
  margin-left: 41.6666667%;
}
.lt-ie9 .row .push12-6 {
  margin-left: 50%;
}
.lt-ie9 .row .push12-7 {
  margin-left: 58.3333333%;
}
.lt-ie9 .row .push12-8 {
  margin-left: 66.6666667%;
}
.lt-ie9 .row .push12-9 {
  margin-left: 75%;
}
.lt-ie9 .row .push12-10 {
  margin-left: 83.3333333%;
}
.lt-ie9 .row .push12-11 {
  margin-left: 91.6666667%;
}
.lt-ie9 .row .push12-12 {
  margin-left: 100%;
}
.lt-ie9 .row .pull12-1 {
  margin-right: 8.3333333%;
}
.lt-ie9 .row .pull12-2 {
  margin-right: 16.6666667%;
}
.lt-ie9 .row .pull12-3 {
  margin-right: 25%;
}
.lt-ie9 .row .pull12-4 {
  margin-right: 33.3333333%;
}
.lt-ie9 .row .pull12-5 {
  margin-right: 41.6666667%;
}
.lt-ie9 .row .pull12-6 {
  margin-right: 50%;
}
.lt-ie9 .row .pull12-7 {
  margin-right: 58.3333333%;
}
.lt-ie9 .row .pull12-8 {
  margin-right: 66.6666667%;
}
.lt-ie9 .row .pull12-9 {
  margin-right: 75%;
}
.lt-ie9 .row .pull12-10 {
  margin-right: 83.3333333%;
}
.lt-ie9 .row .pull12-11 {
  margin-right: 91.6666667%;
}
.lt-ie9 .row .pull12-12 {
  margin-right: 100%;
}
.lt-ie9 .row .push-disable12 {
  margin-left: 0;
}
.lt-ie9 .row .pull-disable12 {
  margin-right: 0;
}
.lt-ie9 .row .hide-at12 {
  display: none;
}
.lt-ie9 .row .block-show-at12 {
  display: block;
}
.lt-ie9 .row .inline-show-at12 {
  display: inline;
  display: inline-block;
}

.row__colspaced {
  position: relative;
}
.lt-ie9 .row__colspaced {
  min-width: 103%;
  left: -3%;
}
@media screen and (min-width: 420px) {
  .row__colspaced {
    min-width: 103%;
    left: -3%;
  }
}
.lt-ie9 .row__colspaced {
  max-width: 100%;
  min-width: auto;
  left: auto;
}

/* ::Print */
/* ------------------------------------------------------------ */
@media print {
  body {
    line-height: 0.55em;
    font-size: 62.5%;
  }
}
